.black {
  color: #594f4b;
}

.orange {
  color: #e5a99a;
}

.cream {
  color: #efdfd7;
}

.brown {
  color: #9d7058;
}

.lbrown {
  color: #c5977d;
}

.black-bg {
  background-color: #594f4b;
}
.cream-bg {
  background-color: #efdfd7;
}

.orange-bg {
  background-color: #e5a99a;
}

.brown-bg {
  background-color: #9d7058;
}

.lbrown-bg {
  background-color: #c5977d;
}

.font-dm-mono {
  font-family: "DM Mono", monospace;
  text-transform: none;
}

.font-kanit {
  font-family: "Kanit", sans-serif;
  text-transform: none;
}

.font-nunito-sans {
  font-family: "Nunito Sans", sans-serif;
  text-transform: none;
}

.font-prompt {
  font-family: "Prompt", sans-serif;
  text-transform: none;
}
